<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
        .img{
            border-radius: 25px;
        }
        .one{
            display: flex;
            padding: 50px;
            
        }
        body{
            background-image: url('https://images.everydayhealth.com/images/blueberries-101-1440x810.jpg?sfvrsn=d894bbcb_6');
            
            
            background-repeat: no-repeat;
            background-size: cover;
           
        }
    </style>
</head>
<body>
    <div class="one">
        <br><br>
        <h2 style="padding-left: 50px; padding-top: 40px;color:#000; font-size:30px">Blueberry pollination rate  is : </h2>
        <h2 style="padding-left: 20px; padding-top: 40px; color:000; font-size:30px" >{{prediction_text}}</h2>

    </div>
</body>
</html>